/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.launcher_1 .background_image {
  background-image: url("AppLauncher_images/Advent_Rising.jpg"); }

.launcher_2 .background_image {
  background-image: url("AppLauncher_images/Alan_Wake's_American_Nightmare.jpg"); }

.launcher_3 .background_image {
  background-image: url("AppLauncher_images/Amnesia_The_Dark_Descent.jpg"); }

.launcher_4 .background_image {
  background-image: url("AppLauncher_images/amplitude.jpg"); }

.launcher_5 .background_image {
  background-image: url("AppLauncher_images/Anachronox.jpg"); }

.launcher_6 .background_image {
  background-image: url("AppLauncher_images/Apotheon.jpg"); }

.launcher_7 .background_image {
  background-image: url("AppLauncher_images/Bastion.jpg"); }

.launcher_8 .background_image {
  background-image: url("AppLauncher_images/Bionic_Commando.jpg"); }

.launcher_9 .background_image {
  background-image: url("AppLauncher_images/BioShock_2.jpg"); }

.launcher_10 .background_image {
  background-image: url("AppLauncher_images/Bit_Trip_Runner.jpg"); }

.launcher_11 .background_image {
  background-image: url("AppLauncher_images/burnout 2.jpg"); }

.launcher_12 .background_image {
  background-image: url("AppLauncher_images/burnout 3.jpg"); }

.launcher_13 .background_image {
  background-image: url("AppLauncher_images/Call_of_Duty_2.jpg"); }

.launcher_14 .background_image {
  background-image: url("AppLauncher_images/Cold_Fear.jpg"); }

.launcher_15 .background_image {
  background-image: url("AppLauncher_images/Command-and-conquer-95.jpg"); }

.launcher_16 .background_image {
  background-image: url("AppLauncher_images/Condemned_Criminal_Origins.jpg"); }

.launcher_17 .background_image {
  background-image: url("AppLauncher_images/Dishonored.jpg"); }

.launcher_18 .background_image {
  background-image: url("AppLauncher_images/Dungeon_of_the_Endless.jpg"); }

.launcher_19 .background_image {
  background-image: url("AppLauncher_images/Far_Cry_2.jpg"); }

.launcher_20 .background_image {
  background-image: url("AppLauncher_images/fatal frame 2.jpg"); }

.group1 {
  background-image: url("AppLauncher_images/platforms/ps2.jpg"); }

.group2 {
  background-image: url("AppLauncher_images/platforms/n64.jpg"); }

.group3 {
  background-image: url("AppLauncher_images/platforms/amiga.jpg"); }

.group4 {
  background-image: url("AppLauncher_images/platforms/c64.jpg"); }

.group5 {
  background-image: url("AppLauncher_images/platforms/mame.jpg"); }

.group6 {
  background-image: url("AppLauncher_images/platforms/psx.jpg"); }

.group7 {
  background-image: url("AppLauncher_images/platforms/saturn.jpg"); }

.group8 {
  background-image: url("AppLauncher_images/platforms/snes.jpg"); }

.group9 {
  background-image: url("AppLauncher_images/platforms/steam.jpg"); }

.group10 {
  background-image: url("AppLauncher_images/platforms/windows.jpg"); }

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #323c64;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  margin: 0;
  padding: 0;
  z-index: 100;
  transition-property: height, background-color;
  transition-duration: 0.2s;
  overflow: hidden; }
  #header h1 {
    font-weight: 700;
    margin: 0;
    padding: 0 1%;
    display: block;
    font-size: 1.5em;
    line-height: 1em;
    float: left;
    text-align: left;
    transition-property: padding;
    transition-duration: 0.2s; }
  #header #top_menu {
    position: absolute;
    right: 0;
    margin-right: 70px; }
    #header #top_menu .button {
      float: right;
      height: 55px;
      width: 100px;
      margin: -15px 5px;
      border-left: solid 1px rgba(100, 100, 100, 0.5);
      border-top: solid 1px rgba(100, 100, 100, 0.5);
      border-right: solid 1px rgba(100, 100, 100, 0.3);
      border-bottom: solid 1px rgba(100, 100, 100, 0.3);
      background-size: cover;
      background-position: center center;
      cursor: pointer;
      transition-property: opacity, margin;
      transition-duration: 0.3s;
      opacity: 0.6; }
      #header #top_menu .button:hover {
        opacity: 1; }
    #header #top_menu .main_menu {
      position: fixed;
      z-index: 1001;
      width: 55px;
      right: 0;
      top: 0;
      border-left: solid 1px rgba(100, 100, 100, 0.5);
      border-top: solid 1px rgba(100, 100, 100, 0.5);
      border-right: solid 1px rgba(100, 100, 100, 0.3);
      border-bottom: solid 1px rgba(100, 100, 100, 0.3);
      transition-property: width, height, border, box-shadow, top;
      transition-duration: 0.4s;
      border-radius: 0;
      box-shadow: 0px 0 0 0 transparent; }
      #header #top_menu .main_menu ul li {
        font-size: 0.3em;
        line-height: 1em;
        text-align: center;
        font-weight: 700;
        transition-property: all;
        transition-duration: 0.3s;
        border-bottom: solid 1px rgba(255, 255, 255, 0); }
  #header:hover h1 {
    padding: 1%; }
  #header:hover #top_menu .button {
    margin: 2px 5px; }
  #header:hover #top_menu .main_menu ul li {
    font-size: 0.4em;
    line-height: 3em; }
  #header:hover #top_menu .main_menu:hover {
    width: 25%;
    padding-bottom: 1em;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 0 0 0 20px;
    box-shadow: -5px 20px 20px 0 rgba(0, 0, 0, 0.8); }
    #header:hover #top_menu .main_menu:hover ul li {
      font-size: 2em;
      line-height: 2em;
      border-bottom: solid 2px rgba(255, 255, 255, 0.3);
      width: 86;
      margin: 1% 4%;
      padding: 1% 3%;
      background-color: rgba(0, 0, 0, 0.9);
      color: rgba(255, 255, 255, 0.6);
      transition-duration: 0.6s; }
      #header:hover #top_menu .main_menu:hover ul li:hover {
        color: white;
        border-bottom: solid 2px rgba(255, 255, 255, 0.5);
        background-color: rgba(255, 255, 255, 0.2);
        cursor: pointer; }

#main {
  float: left;
  margin: 60px 0 0;
  padding: 0;
  width: 100%;
  position: relative;
  z-index: 0; }
  #main .launcher {
    float: left;
    margin: 1%;
    padding: 0;
    width: 23%;
    height: 250px;
    background-color: transparent;
    position: relative;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.55);
    transition-property: box-shadow, opacity, transform;
    transition-duration: 0.3s;
    overflow: hidden;
    opacity: 0.8;
    transform: scale(0.95);
    cursor: pointer; }
    #main .launcher .title {
      position: absolute;
      top: 0;
      left: 0;
      width: 98%;
      padding: 1%;
      margin-top: 0;
      background-color: rgba(0, 0, 0, 0.5);
      font-weight: 400;
      font-size: 1.1em;
      text-align: center;
      z-index: 2;
      color: rgba(255, 255, 255, 0.5);
      transition-property: padding, margin, color, background-color;
      transition-duration: 0.2s; }
    #main .launcher .background_image {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      background-size: cover;
      background-position: center center;
      z-index: 1;
      transition: all 0.5s ease-in-out;
      transform: scale(1);
      background-color: transparent; }
    #main .launcher:hover {
      box-shadow: 0px 12px 40px 5px rgba(0, 0, 0, 0.9);
      opacity: 1;
      transform: scale(1); }
      #main .launcher:hover .title {
        background-color: rgba(0, 0, 0, 0.85);
        color: white;
        margin-top: 5%;
        padding: 2% 1%; }
      #main .launcher:hover .background_image {
        transform: scale(1.2); }

/*# sourceMappingURL=style.css.map */
